
body {
   
    background-color: #ffc266;
 

            }

#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 1;
    -khtml-opacity: 0.8;
    opacity:1;
    /*Opacity end*/
    color: white;
    position:fixed ;
    top: 0;
    left: 0;
    width: 100%;
    height:200px;
    padding: 0;
    margin: 0;
    z-index: 106;
}
#header #header-content {
     position:absolute ; left:20%;
    margin: 10px;
    
}

.text{
 
      position:absolute ; left:20%;
    width: 950px;
}
article{
    margin-top: 300px;
}
h1{
    text-align: center;
    font-family: "Gruppo";font-size: 35px;
}
p{
     text-align: center;
    font-family: "Gruppo";font-size: 25px;
}
.button {
 font-family: "Gruppo";font-size: 35px;
  text-decoration: none;
  background-color: #99cc00;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.field{
    margin-top: 300px;
    border:0;
}
ol {
     text-align: left;
    font-family: "Gruppo";font-size: 25px;  font-weight: bold;
}
li{
     text-align: left;
    font-family: "Gruppo";font-size: 25px;  font-weight: bold;
}
.text-field{ 
    background-color: #d9d9d9;
    width:600px; 
    height:60px;
      font-family: "Gruppo";font-size: 25px;
}
label {
    font-family: "Gruppo";font-size: 25px;
    white-space: nowrap;
}
.user-info{
      
     background-color: #d9d9d9;
      font-family: "Gruppo";font-size: 25px;
}
user-date{
      margin-left: 33%;
       background-color: #d9d9d9;
      
}
#user-form{
    
    margin-left: 25%;
}
.submit{
        width:300px; 
    height:60px;
    margin-left: 33%;
    background-color: #99cc00;
      font-family: "Gruppo";font-size: 25px;
    
}
.reset{
         width:300px; 
    height:60px;
    margin-left: 33%;
    background-color: #ff6633;
      font-family: "Gruppo";font-size: 25px;
}
#footer {
    height: 75px;
    background: 
    white;
    margin: auto;
    position: relative; /*Added this*/
    width: 100%;
 }

table, th, td, tr{
    border-collapse: collapse;
    width:950px;
    height:50px;
    border: 4px solid black;
      text-align: center;
    font-family: "Gruppo";font-size: 25px;  font-weight: bold;
}